[submodule "大二下/计算机图形学基础/SPPM"]
	path = 大二下/计算机图形学基础/SPPM
	url = https://github.com/wzf2000/SPPM.git
[submodule "大二下/数字逻辑设计/Project"]
	path = 大二下/数字逻辑设计/Project
	url = https://github.com/wzf2000/MazeDigitalDesign.git
[submodule "大三上/编译原理/Project"]
	path = 大三上/编译原理/Project
	url = https://github.com/wzf2000/minidecaf.git
